body {
  background-color: brown;
  font font-family: verdana;

}
h1 {
 font font-weight: normal;
 font-size: 3rem

}
a{
  color: inherit;
}

p {
  text-transform: uppercase;
  text-align: justify;
}